body{
  min-height: 100vh;
  position: relative;
  margin-right: auto;
  margin-left : auto;
  font-family: 'ヒラギノ丸ゴ Pro W4';
}

a {
  text-decoration: none;
}

img{
  max-width: 100%;
  height: auto;
}

.breadcrumbs{
  max-width: 900px;
  margin: auto;
}

.top{
display: flex;
align-items: center;
justify-content: space-between;
padding: 20px 30px 5px 20px;
max-width: 900px;
margin: auto;
}

.top-title-font{
  font-size: 5vh;
  font-family: 'arial black';
  color: black;
}

.potato-box{
  display: flex;
  align-items: flex-start;
}

.logo{
  width: 50px;
  margin-left: 10px;
}

.pull-down-list{
  font-size: 1vh;
  color: black;
  padding: 5px 20px;
  margin-top: 3px;
  background-color: white;
}

.top-inner{
  padding: 20px;
  background-image: url("/images/potato.png");
  background-repeat: repeat-x;
  margin-bottom: 20px;
}

.nav-box{
  max-width: 900px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.session-box{
height: 100%;
}

.user-bnt{
  background: white;
  padding: 0.3rem 1rem;
  width: 150px;
  text-align: center;
  margin-left: 0.5rem;
}

.search-btn{
  background:red;
  padding: 0px 30px;
  border: solid 2px white;
  color: white;
  font-size: 2hv;
}

.search-input{
  border: solid 2px gray;
  height: 35px;
  width: 200px;
  text-align: center;
  margin-right: 10px;
}

.search-content{
  color: rgb(97, 63, 12);
  font-size: 15px;
  margin: 15px 20px 0 0;
}

.search-select-box{
  border: solid 2px gray;
  height: 38px;
  width: 100px;
  margin: 0 10px 0 0;
}

.potato_1{
  height: 100px;
  background-image: url("/images/potato_1.png");
  background-repeat: repeat-x;
}

.footer{
  background: red;
  text-align: center;
  color: white;
  width: 100%;
}

.hidden{
  display: none;
}
