.user-entry-outer{
  padding: 20px;
  height: 70vh;
  
}

.delete-box{
  width: 400px;
  background-color: red;
  padding: 10px;
  margin: 40px auto;
  color: white;
}
.delete-font{
 font-size: 2rem;
}

.user-entry-inner{
  margin: auto;
  text-align: center;
  font-size: 2vh;
}

.field{
  margin: 20px;
}

.actions{
  margin: 10px;
  padding: 2px 20px;
}