<div class = "item-main">
<div class = "index-title">運営応援グッズ購入ページ</div>

  <% @items.each do |item| %>
     <div class = "item-box">

          <div class = "item-name">
            <%= item.name %>
          </div>   
          <div class = "item-img">
            <img src = "/assets/items/sample.JPG" alt = "" class = "item-img">
            <!-- imegeファイルに自分で保存 -->
          </div>

          <div class = "item-introduction">
            <%= item.introduction %>
          </div>

          <div class = "item-price">
            <%= item.price %>円<p class = "mini-font">（税込）</p>
          </div>
          <% if user_signed_in? %>
            <%= link_to '購入画面に進む', item_orders_path(item.id),class:"item-btn"%>
          <% end %>
    </div>
  <% end %>
</div>